.header-name {
  display: flex;
  align-items: center;
}

.header-name span {
  display: inline-block;
  margin-right: 3px;
  font-weight: bold;
}

.header-search {
  flex-grow: 1;
  padding-left: 110px;
  display: flex;
  align-items: center;
}

.header-search input[type="text"] {
  width: 55%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
